<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav></nav>
    <div id="cart">
        <h2 id="cartTitle"></h2>
        <div id="cartDisplay">
            
        </div>
    </div>
    <main>
        <div id="displayproducts">
            <div id="sweater">
                <% data.forEach((ele)=>{%>
                <h1><%= ele.title %></h1>
                <div id="imgContainer"><img</div>
            
            
            })
            </div>
        </div>
    </main>
</body>
</html>