<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/public/styles/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">

    <video autoplay loop muted plays-inline class="background-clip">
      <source src="/components/public/videos/Clouds 4K free footage.mp4" type="video/mp4">
    </video>
    <div id="fade">
      <div class="transparantClouds"></div>
      <div class="transparantClouds"></div>
      <div class="transparantClouds"></div>
      <div class="transparantClouds"></div>
    </div>
  </div>
</body>
</html>
<!-- https://www.youtube.com/watch?v=-unASUgYtVI -->